/* Action Btn block */

.actions_btn {
      width: 32px;
      height: 32px;
      position: relative;
}

.actions_btn::before {
        background-color: var(--color-Black);
        content: '';
        width: 25px;
        height: 25px;
        position: absolute;
        top: 3px;
        left: 3px;
        transition: background-color 0.2s ease-in-out;
      }

.actions_btn:hover::before {
  background-color: var(--color-Accent);
}
  
.card_action_btn_add_to_cart::before {
        -webkit-mask: url(../../public/img/icons/cart.svg) no-repeat 50% 50%;
        mask: url(../../public/img/icons/cart.svg) no-repeat 50% 50%;
      } 

.card_action_btn_quick_view::before {
        width: 32px;
        height: 32px;
        top: 0px;
        left: 0px;
        -webkit-mask: url(../../public/img/icons/actions_quick_view.svg) no-repeat 50% 50%;
        mask: url(../../public/img/icons/actions_quick_view.svg) no-repeat 50% 50%;
      } 

.card_action_btn_add_to_favorites::before,
.card_action_btn_add_to_favorites_checked::before
 {
        -webkit-mask: url(../../public/img/icons/actions_favorite.svg) no-repeat 50% 50%;
        mask: url(../../public/img/icons/actions_favorite.svg) no-repeat 50% 50%;
      }


.card_action_btn_add_to_favorites_checked::before,
.card_action_btn_add_to_favorites_checked:hover::before {
        background-color: var(--color-Errors);
        transition: background-color 0.2s ease-in-out;
}

  