/* .home_slider {
  width: 1248px;
} */

/* .home_slider_container {
   width: 100%;
} */

/* Slider */
@media (max-width: 1248px) {
.home_slider_container {
    padding: 0 16px;
}
}

@media (max-width: 1000px) {
    .home_slider_container {
        display: none;
    }
    }

.home_swiper_slider {
    width: 1248px;
    height: 646px;
    overflow: hidden;
    position: relative;
}

/* @media (max-width: 1310px) {
    .home_swiper_slider {
        width: 1100px;
    }
} */

/* @media (max-width: 1140px) {
    .home_swiper_slider {
        width: 1050px;
        height: 400px;
    }
} */

.home_slide_content {
    width: 1248px;
    height: max-content;
    overflow: hidden;
    border-radius: 16px;
    position: absolute !important;
}

/* @media (max-width: 1310px) {
    .home_slide_content {
        width: 800px;
        height: 400px;
    }
} */

.home_slide_img {
    opacity: 0.7;
    max-width: 100%;
    max-height: 100%;
}

.home_slide_content_left {
    position: absolute;
    top: 24.77%;
    left: 39px;
    background-color:rgba(255, 255, 255, 0.5);
    width: 31.41%;
    border-radius: 16px;
    padding: 20px;
}

.home_slide_price {
    margin-top: 19px;
    display: flex;
    font-size: 26px;
    line-height: 35px;
}

.home_slide_btn_container{
    width: 193px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: var(--color-Black);
}

.home_slide_btn {
    border: 2px solid var(--color-White);
    width: 193px;
    height: 53px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
}

.home_slide_btn:hover {
    /* background-color: var(--color-Black);
    border: 2px solid var(--color-White); */
    color: var(--color-Accent);
}

.home_slide_product_container {
    position: absolute;
    top: 11%;
    right: 15%;
    width: 30%;
    display: flex;
    align-items: center;
}

.home_slide_product_img {
    opacity: 1;
    max-width: 100%;
}

@media (max-width: 1300px) {
    .home_slide_title {
      border: none;
      padding-right: 20px;
    }
}

/* Home page section */

.home_section_container {
    display: flex;
    flex-direction: column;
}

.home_section_text {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 39px 0;
}

@media (max-width: 800px) {
.home_section_text h1,
.home_section_text h4 {
  display: none;
}

.home_section_text {
    padding: 21px 0 13px 0;
}
}

.view_all_link {
    color: var(--color-Accent);
}

.home_section_list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 380px);
    column-gap: 54px;
    row-gap: 86px;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 1300px) {
    .home_section_list {
        grid-template-columns: repeat(auto-fill, 300px);
        column-gap: 40px;
        row-gap: 65px;
    }
}

@media (max-width: 1100px) {
    .home_section_list {
        grid-template-columns: repeat(auto-fill, 260px);
        column-gap: 30px;
        row-gap: 50px;
    }
}

@media (max-width: 910px) {
    .home_section_list {
        grid-template-columns: repeat(auto-fill, 200px);
        column-gap: 30px;
        row-gap: 50px;
    }
}

@media (max-width: 730px) {
    .home_section_list {
        grid-template-columns: repeat(auto-fill, 170px);
    }
}

@media (max-width: 640px) {
    .home_section_list {
        grid-template-columns: repeat(auto-fill, 136px);
        column-gap: 16px;
        row-gap: 24px;
    }
}