.list_item_container {
  position: relative;
}

.list_item {
  position: relative;
  width: 380px;
  height: 479px;
  border-radius: 8px;
}

@media (max-width: 1300px) {
  .list_item {
    width: 300px;
    height: 379px;
  }
}

@media (max-width: 1100px) {
  .list_item {
    width: 260px;
    height: 329px;
  }
}

@media (max-width: 910px) {
  .list_item {
    width: 200px;
    height: 254px;
  }
}

@media (max-width: 730px) {
  .list_item {
    width: 170px;
    height: 219px;
  }
}

@media (max-width: 640px) {
  .list_item {
    width: 136px;
    height: 174px;
  }
}

/* Card label styles */
.label_container {
  position: absolute;
  top: 16px;
  left: 16px;
  height: auto;
  min-width: 130px;
}

@media (max-width: 1300px) {
  .label_container {
    top: 4px;
    left: 4px;
  }
}

.list_item_label {
  font-size: 12px;
  height: 24px;
  background-color: var(--color-Accent);
  color: var(--color-White);
  padding: 2px 8px;
  border-radius: 4px;
}

.list_item_label:not(:last-child) {
  margin-right: 8px;
}

/* Card top */
.card_top_container {
  width: 100%;
  height: 380px;
  background-color: var(--color-Light-gray);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 380px;
  /* position: relative; */
  z-index: 150;
}

@media (max-width: 1300px) {
  .card_top_container {
    height: 300px;
  }
}

@media (max-width: 1100px) {
  .card_top_container {
    height: 260px;
  }
}

@media (max-width: 910px) {
  .card_top_container {
    height: 200px;
  }
}

@media (max-width: 730px) {
  .card_top_container {
    height: 170px;
  }
}

@media (max-width: 640px) {
  .card_top_container {
    height: 136px;
  }
}

.card_top_container {
  padding: 50px;
}

@media (max-width: 1300px) {
  .card_top_container {
    padding: 30px;
  }
}

@media (max-width: 910px) {
  .card_top_container {
    padding: 20px;
  }
}

@media (max-width: 640px) {
  .card_top_container {
    padding: 10px;
  }
}

/* Card bottom */

.card_bottom_container {
  height: 20%;
  border-radius: 0 0 8px 8px;
  /* position: relative; */
}

.card_bottom_container h3 {
  padding-top: 4%;
  color: var(--color-Black);
}

@media (max-width: 910px) {
  .card_bottom_container h3 {
    font-size: 12px !important;
  }
}

@media (max-width: 730px) {
  .card_bottom_container h3 {
    padding-top: 6px !important;
    padding-bottom: 4px !important;
    line-height: 1.2;
  }
}

.card_bottom_container h4 {
  position: absolute;
  bottom: 0;
  color: var(--color-Accent);
}

@media (max-width: 910px) {
  .card_bottom_container h4 {
    font-size: 12px !important;
    line-height: 1.2;
  }
}

/* To cart Btn */

.card_to_cart_btn_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 8px 8px;
  z-index: 205;
}

@media (max-width: 910px) {
  .card_to_cart_btn_container {
    height: 45px;
  }
}

@media (max-width: 640px) {
  .card_to_cart_btn_container {
    height: 35px;
  }
}

.card_cart_btn {
  text-transform: uppercase;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  color: var(--color-Black);
}

.card_cart_btn:disabled {
  opacity: 0.5;
}

.card_cart_btn:hover {
  color: var(--color-Accent);
}

@media (max-width: 910px) {
  .card_cart_btn {
    font-size: 14px !important;
  }
}

@media (max-width: 640px) {
  .card_cart_btn {
    font-size: 12px !important;
  }
}

/* Card Actions */
.list_item:hover .card_actions_container {
  opacity: 1;
}

.card_actions_container {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.card_actions {
  width: 172px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* To cart card Btn */

.card_to_cart_btn_container {
  position: absolute;
  bottom: 98px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color:rgba(255, 255, 255, 0.6); */
  border-radius: 0 0 8px 8px;
  z-index: 205;
}

@media (max-width: 1300px) {
  .card_to_cart_btn_container {
    bottom: 79px;
  }
}

@media (max-width: 1100px) {
  .card_to_cart_btn_container {
    bottom: 68px;
  }
}

@media (max-width: 910px) {
  .card_to_cart_btn_container {
    height: 45px;
    bottom: 53px;
  }
}

@media (max-width: 730px) {
  .card_to_cart_btn_container {
    bottom: 48px;
  }
}

@media (max-width: 640px) {
  .card_to_cart_btn_container {
    height: 35px;
    bottom: 37px;
  }
}

.card_cart_btn {
  text-transform: uppercase;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  color: var(--color-Black);
}

.card_cart_btn:hover {
  color: var(--color-Accent);
}

@media (max-width: 910px) {
  .card_cart_btn {
    font-size: 14px !important;
  }
}

@media (max-width: 640px) {
  .card_cart_btn {
    font-size: 12px !important;
  }
}

.list_item_display_none {
  display: none;
}

.card_price_discount {
  margin-right: 12px;
}

@media (max-width: 640px) {
  .card_price_discount {
    margin-right: 8px;
  }
}
