.modal {
    width: 1050px;
    height: 650;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 250;
    background: var(--color-White);
    box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.20), 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    padding: 50px;
    min-width: 0;
}
  
    @media (max-width: 1070px) {
        .modal {
     width: 815px;
     height: 500px;
    }

}
  
    @media (max-width: 890px) {
        .modal {
      width: 733px;
      height: 490px;
     }
    }

/* Close button */
  
.modal_close {
      height: 15px;
      width: 15px;
      z-index: 1;
      position: absolute;
      right: 32px;
      top: 35px;
}

.modal_close::before {
        background-color: var(--color-Black);
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: background-color 0.2s ease-in-out;
        -webkit-mask: url(../../public/img/icons/close.svg) no-repeat 50% 50%;
        mask: url(../../public/img/icons/close.svg) no-repeat 50% 50%;
      }
  
.modal_close:hover::before {
        transition: background-color 0.2s ease-in-out;
        background-color: var(--color-Dark-gray);
      }
  
  
    .modal_left {
      max-width: 520px;
      max-height: 520px;
    }
  
      @media (max-width: 1070px) {
        .modal_left {
        max-width: 400px;
        max-height: 400px;
      }
    }
  
      @media (max-width: 890px) {
        .modal_left {
        max-width: 350px;
        max-height: 350px;
       }
    }

    /* Modal right */
    .modal_right {
      max-width: 430px;
      padding-left: 40px;
    }

    @media (max-width: 1070px) {
      .modal_right {
      max-width: 315px;
      padding-left: 30px;
    }
  }

    @media (max-width: 890px) {
      .modal_right {
      max-width: 283px;
      /* padding-left: 30px; */
     }
  }

    .modal_right_price {
      margin-top: 13px;
      color: var(--color-Accent);
    }

    .modal_right_info {
      margin-top: 50px;
    }

    @media (max-width: 1070px) {
      .modal_right_info {
        margin-top: 19px;
    }
  }
    .modal_right_raiting {
      margin-bottom: 19px;
    }

    .modal_right_description {
      line-height: 1.2;
      color: var(--color-Dark-gray);
    }

    @media (max-width: 1070px) {
      .modal_right_description {
      max-height: 400px;
    }
  }

    /* Counter */

    .modal_right_counter_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 53px;
      margin: 38px 0 60px 0;
    }

    @media (max-width: 1070px) {
      .modal_right_counter_container {
        margin: 19px 0 30px 0;
    }
  }

    .modal_right_counter {
      width: 102px;
      height: 53px;
      background-color: var(--color-Light-gray);
      border-radius: 4px;
    }

    /* Add To Cart Btn */

    .product_to_cart_btn {
      width: 260px;
      height: 53px;
      border-radius: 4px;
      border: 1px solid var(--color-Black) !important;
      color: var(--color-Black);
      text-transform: uppercase;
      transition: background-color .2s ease-in-out;
      margin-left: 23px;
  }
  
  @media (max-width: 1070px) {
      .product_to_cart_btn {
          width: 60%;
      }
  }

  @media (max-width: 890px) {
    .product_to_cart_btn {
        width: 55%;
    }
}
  
  .product_to_cart_btn:hover {
      color: var(--color-White);
      background-color: var(--color-Black);
      border: none;
      transition: background-color .2s ease-in-out;
  }
  
  .product_to_cart_btn:active {
      border: 1px solid var(--color-Accent) !important;
      background-color: var(--color-White);
      color: var(--color-Accent);
  }

  /* More info link */
  .modal_right_more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_right_more_link {
    color: var(--color-Dark-gray);
    transition: color .2s ease-in-out;
    margin-top: 10px;
  }

  .modal_right_more_link:hover {
    color: var(--color-Accent);
    transition: color .2s ease-in-out;
  }

  /* Icons Block */
.modal_right_icon_container {
  display: flex;
  justify-content: start;
  margin-bottom: 38px;
}

.modal_right_favorite_btn {
  width: 25px;
  height: 18px;
  position: relative;
}

.modal_right_favorite_btn::before {
  background-color: var(--color-Black);
  content: '';
  width: 25px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease-in-out;
}

.modal_right_favorite_btn:hover::before {
  background-color: var(--color-Accent);
  }

.modal_right_favorite_btn_checked::before {
  background-color: var(--color-Errors);
  content: '';
  width: 25px;
  height: 18px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: background-color 0.2s ease-in-out;
}

.modal_right_favorite_btn_checked:hover::before {
  background-color: var(--color-Errors);
}

.modal_right_favorite_btn::before,
.modal_right_favorite_btn_checked::before {
    -webkit-mask: url(../../public/img/icons/product_page_favorite.svg) no-repeat 50% 50%;
    mask: url(../../public/img/icons/product_page_favorite.svg) no-repeat 50% 50%;
  }


/* Socials */

.socials {
  position: relative;
  width: 107px;
  transition: color .2s ease-in-out;
  margin-right: 18px;
  align-items: center;
  display: block;

}

.social_media_icon:not(:last-child) {
    margin-right: 29px;
}

.social_media_icon::before {
  background-color: var(--color-Dark-gray);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.social_media_icon:hover::before {
  background-color: var(--color-Accent);
  transition: background-color .2s ease-in-out;
}

.letter::before {
  content: '';
  width: 21px;
  height: 16px;
  -webkit-mask: url(../../public/img/icons/letter.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/letter.svg) no-repeat 50% 50%;
}

.fB::before {
  content: '';
  width: 10px;
  height: 18px;
  -webkit-mask: url(../../public/img/icons/fB.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/fB.svg) no-repeat 50% 50%;
}

.instagram::before {
  content: '';
  width: 18px;
  height: 18px;
  -webkit-mask: url(../../public/img/icons/instagram.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/instagram.svg) no-repeat 50% 50%;
}

.line_container {
  position: relative;
  margin: 0 40px;
}

.line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 20px;
  background-image: url(../../public/img/icons/line_product.png);
  background-repeat: no-repeat;
  background-position: center center;
}



