/* Top Part beginning */

.product_top {
  display: flex;
  margin-top: 128px;
  height: 650px;
}

.product_top_left {
  width: 700px;
  background-color: yellow;
}

/* Product Top Right */
.product_top_right {
  /* max-width: 430px; */
  margin-left: 62px;
  max-width: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1070px) {
  .product_top_right {
  /* max-width: 315px; */
  margin-left: 30px;
}
}

.product_top_right_price {
  margin-top: 23px;
  color: var(--color-Accent);
}

.product_top_right_raiting {
  margin-top: 50px;
  margin-bottom: 19px;
}

.product_top_right_description {
  line-height: 1.2;
  color: var(--color-Dark-gray);
}

/* Counter */

.product_top_right_counter_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  margin: 48px 0 81px 0;
}

@media (max-width: 1070px) {
  .product_top_right_counter_container {
    margin: 19px 0 30px 0;
}
}

.product_top_right_counter {
  width: 102px;
  height: 53px;
  background-color: var(--color-Light-gray);
  border-radius: 4px;
}

    /* Add To Cart Btn */

    .product_to_cart_btn {
      width: 360px;
      height: 53px;
      margin-left: 23px;
  }
  
  @media (max-width: 1070px) {
      .product_to_cart_btn {
          width: 60%;
      }
  }

  @media (max-width: 890px) {
    .product_to_cart_btn {
        width: 55%;
    }
}

  /* More info link */

  .product_top_right_more_link {
    color: var(--color-Dark-gray);
    transition: color .2s ease-in-out;
    margin-top: 10px;
  }

  .product_top_right_more_link:hover {
    color: var(--color-Accent);
    transition: color .2s ease-in-out;
  }

  /* Icons Block */
.product_top_right_icon_container {
  display: flex;
  justify-content: start;
  margin-bottom: 38px;
}

/* .product_add_to_favorites_container {
  width: 25px;
  height: 18px;
  position: relative;
} */

.product_top_right_favorite_btn::before {
  /* background-color: var(--color-Dark-gray);
  content: ''; */
  width: 25px;
  height: 18px;
  /* position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease-in-out; */
}

/* .product_top_right_favorite_btn:hover::before {
  background-color: var(--color-Accent);
  }

  .product_top_right_favorite_btn_checked::before {
  background-color: var(--color-Errors);
  content: '';
  width: 25px;
  height: 18px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: background-color 0.2s ease-in-out;
} */

/* .product_top_right_favorite_btn_checked:hover::before {
  background-color: var(--color-Errors);
} */

/* .product_top_right_favorite_btn::before,
.product_top_right_favorite_btn_checked::before {
    -webkit-mask: url(../../public/img/icons/product_page_favorite.svg) no-repeat 50% 50%;
    mask: url(../../public/img/icons/product_page_favorite.svg) no-repeat 50% 50%;
  } */


/* Socials */

.socials {
  position: relative;
  width: 107px;
  transition: color .2s ease-in-out;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.social_media_icon:last-child {
    margin-right: 18px;
}

.social_media_icon::before {
  background-color: var(--color-Dark-gray);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.social_media_icon:hover::before {
  background-color: var(--color-Accent);
  transition: background-color .2s ease-in-out;
}

.letter::before {
  content: '';
  width: 21px;
  height: 16px;
  -webkit-mask: url(../../public/img/icons/letter.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/letter.svg) no-repeat 50% 50%;
}

.fB::before {
  content: '';
  width: 10px;
  height: 18px;
  -webkit-mask: url(../../public/img/icons/fB.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/fB.svg) no-repeat 50% 50%;
}

.instagram::before {
  content: '';
  width: 18px;
  height: 18px;
  -webkit-mask: url(../../public/img/icons/instagram.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/instagram.svg) no-repeat 50% 50%;
}

.line_container {
  position: relative;
  margin: 0 40px;
}

.line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 20px;
  background-image: url(../../public/img/icons/line_product.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* Top Part end */

/* Middle part beginning */

.product_middle {
  margin-top: 99px;
  height: 153px;
}

/* Media < 520px */

.product_top_mobile {
  margin: 0;
  border-bottom: 1px solid var(--color-Gray);
  padding-bottom: 14px;
}

.product_top_mobile h3 {
  margin-top: 24px;
  margin-bottom: 5px;
}

.product_top_mobile_price {
  color: var(--color-Accent);
  margin-bottom: 24px;
}

.product_to_cart_btn_mobile {
  height: 32px;
  width: 100%;
  margin: 0;
}

.product_top_description_container {
  margin-top: 16px;
  margin-bottom: 6px;
}
