.header_container {
  border-bottom: 1px solid var(--color-Gray);
}

.header_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  height: 59px;
  padding-bottom: 17px;
}

.header_logo {
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  max-width: 220px;
  height: 40px;
  font-size: 35px;
  line-height: 40.5px;
  color: var(--color-Black);
}

.header_logo_first_letter {
  color: var(--color-Accent);
}

.header_right {
  display: flex;
  height: 59px;
}

.header_right ul {
  display: flex;
}

.nav {
  width: 318px;
  height: 59px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  /* border-right: 1px solid var(--color-Dark-gray); */
  height: 100%;
}

.nav li {
  height: 100%;
}

.nav_heading {
  height: 100%;
}

.nav_heading:hover,
.nav_heading:active,
.nav_heading_active {
  border-bottom: 2px solid var(--color-Black);
  transition: color 0.2s ease-in-out;
}

.link_nav {
  color: inherit;
}

.header_icons {
  display: flex;
  align-items: center;
  padding-bottom: 17px;
  position: relative;
}

.header_link_item {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}

.header_icon_item {
  margin-left: 40px;
}

.header_link_item::before {
  background-color: var(--color-Black);
  content: '';
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease-in-out;
}

.header_link_item:hover::before {
  transition: background-color 0.2s ease-in-out;
  background-color: var(--color-Dark-gray);
}

.header_link--search::before {
  -webkit-mask: url(../../public/img/icons/search.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/search.svg) no-repeat 50% 50%;
}

.header_link--cart::before {
  -webkit-mask: url(../../public/img/icons/cart.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/cart.svg) no-repeat 50% 50%;
}

.header_link--profile::before {
  -webkit-mask: url(../../public/img/icons/profile.svg) no-repeat 50% 50%;
  mask: url(../../public/img/icons/profile.svg) no-repeat 50% 50%;
}

@media (max-width: 1300px) {
  .header_container {
    /* border: none; */
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .header_container {
    border: none;
  }
}

@media (max-width: 850px) {
  .nav {
    width: 260px;
  }
}

@media (max-width: 800px) {
  .header_content {
    margin: 0;
    padding: 0;
    height: 48px;
  }

  .header_logo {
    font-size: 25px;
  }

  .header_burger {
    margin-left: 15px;
  }

  .header_burger_open::before {
    background-color: var(--color-Black);
    content: '';
    height: 20px;
    width: 20px;
    right: 3px;
    position: absolute;
    bottom: 28px;
    -webkit-mask: url(../../public/img/icons/burger.svg) no-repeat 50% 50%;
    mask: url(../../public/img/icons/burger.svg) no-repeat 50% 50%;
    transition: background-color 0.2s ease-in-out;
  }

  .header_burger_close::before {
    background-color: var(--color-Black);
    content: '';
    height: 20px;
    width: 20px;
    right: -6px;
    position: absolute;
    bottom: 28px;
    -webkit-mask: url(../../public/img/icons/close.svg) no-repeat 50% 50%;
    mask: url(../../public/img/icons/close.svg) no-repeat 50% 50%;
    transition: background-color 0.2s ease-in-out;
  }

  /* .header_burger_open:hover::before {
    transition: background-color 0.2s ease-in-out;
    background-color: var(--color-Dark-gray);
  }

  .header_burger_open:hover {
    color: var(--color-Dark-gray);
    transition: .2s ease-in-out color;
  } */
}
