.search_modal {
    min-width: 850px;
    height: 570px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    background-color: var(--color-Light-gray);
    padding: 24px;
    z-index: 250;
    display: block;
    box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.20), 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
  }
  
  @media (max-width: 940px) {
    .search_modal {
      min-width: auto;
      width: 700px;
    }
  }
  
  @media (max-width: 800px) {
    .search_modal {
      display: none;
    }
  }
  
  .search_modal_close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(../../public/img/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .search_modal_title {
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
  }
  
  /* .search-modal__top {
    margin-bottom: 24px;
    overflow: hidden;
  }
  
  .search-modal__label {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
   */
  .search_modal_input {
    width: 100%;
    border: none;
    background: var(--color-White);
    border-radius: 4px;
    height: 48px;
    padding-left: 20px;
    overflow: hidden;
  }

  .search_modal_input::placeholder {
    color: var(--color-Dark-gray);
  }

  /* Serach categories, types, name styles */

  .search-modal_links {
    display: flex;
    width: 800px;
    overflow: auto;
    padding-bottom: 10px;
  }
  
  @media (max-width: 940px) {
    .search-modal_links {
      width: 650px;
    }
  }
  
  @media (max-width: 780px) {
    .search-modal_links {
      width: 480px;
    }
  }
  
  @media (max-width: 590px) {
    .search-modal_links {
      width: 340px;
    }
  }
  
  @media (max-width: 420px) {
    .search-modal_links {
      width: 260px;
    }
  }
  
  .search-modal_links::-webkit-scrollbar {
    height: 8px;
  }
  
  .search-modal_links::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .search-modal_links::-webkit-scrollbar-thumb {
    background-color: #9466FF;
    border-radius: 3px;
  }
  
  .search-modal_links::-webkit-scrollbar-thumb:hover {
    background-color: #70F;
  }
  
  .search-modal_links li:not(:last-child) {
    margin-right: 10px;
  }
  
  .search-modal_links li a {
    width: max-content;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #9466FF;
    color: #D9D9D9;
    transition: background-color .2s ease-in-out;
  }
  
  @media (max-width: 590px) {
    .search-modal_links li a {
      font-size: 14px;
      padding: 5px;
    }
  }
  
  .search-modal_links li a:hover {
    transition: background-color .2s ease-in-out;
    background-color: #70F;
  }
  
  .search-modal_results {
    height: 250px;
    overflow: auto;
  }
  
  @media (max-width: 780px) {
    .search-modal_results {
      height: 270px;
    }
  }
  
  @media (max-width: 590px) {
    .search-modal_results {
      height: 310px;
    }
  }
  
  .search-modal_results::-webkit-scrollbar {
    width: 8px;
  }
  
  .search-modal_results::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .search-modal_results::-webkit-scrollbar-thumb {
    background-color: #9466FF;
    border-radius: 3px;
  }
  
  .search-modal_results::-webkit-scrollbar-thumb:hover {
    background-color: #70F;
  }
  
  .search-modal_results_item {
    transition: background-color .2s ease-in-out;
  }
  
  .search-modal_results_item:hover {
    transition: background-color .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.06);
  }
  
  .search-modal_results_item_link {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: stretch;
  }
  
  @media (max-width: 420px) {
    .search-modal_results_item_link {
      padding: 5px;
    }
  }
  
  .search-modal_results_item_left {
    width: 100px;
    margin-right: 10px;
    height: 100px;
  }
  
  .search-modal_results_item_img {
    object-fit: contain;
    background: radial-gradient(52.53% 52.53% at 50% 47.47%, #4E5D77 0%, rgba(42, 50, 63, 0.00) 100%), #2A323F;
    width: 100%;
    height: 100%;
  }
  
  .search-modal_results_item_inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  
  @media (max-width: 590px) {
    .search-modal_results_item_inner {
      flex-direction: column;
    }
  }
  
  .search-modal_results_item_inner p {
    margin: 0;
    min-width: max-content;
  }
  