.shop_popup {
    position: relative;
    z-index: 5;
}

.shop_popup_wrapper {
    background-color: var(--color-White);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 51px;
    right: -310px;
    border: 1px solid var(--color-Gray);
    width: 620px;
    height: 265px;
    display: flex;
    /* justify-content: space-between; */
    /* padding: 30px 30px 47px 30px; */
    /* flex-direction: column; */
}

.shop_popup_columns {
    padding: 0 30px;
    margin: 30px 0 47px 0;
    display: flex;
    flex-direction: column;
    width: 205px;
}

.shop_popup_headings {
    margin-bottom: 16px;
}

.shop_popup_item_link {
    color: var(--color-Dark-gray);
    text-transform: none;
  } 
  
.shop_popup_item_link:hover {
    color: var(--color-Black);
    transition: color .2s ease-in-out;
  }

.with_left_border {
    border-left: 1px solid var(--color-Gray);
}
  