.order_block {
    background-color: var(--color-Light-gray);
    margin-top: 39px;
    padding: 39px 57px 48px 59px;
}

@media (max-width: 570px) {
    .order_block {
        margin-top: 27px;
        padding: 21px 16px 24px 16px;
    }
}

.order_block_headings,
.order_block_subtotal,
.order_block_shipping {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-Gray);
}

.order_block_headings h5 {
    margin-bottom: 13px;
}

@media (max-width: 570px) {
    .order_block_headings h5 {
        margin-bottom: 17px;
    }
}

.order_block_subtotal h5,
.order_block_shipping h5 {
    margin-bottom: 10px;
    margin-top: 16px;
}

@media (max-width: 570px) {
    .order_block_subtotal h5,
    .order_block_shipping h5  {
        margin-bottom: 20px;
        margin-top: 24px;
    }
}

@media (max-width: 570px) {
    .order_block_headings h5,
    .order_block_subtotal h5,
    .order_block_shipping h5,
    .order_block_total p{
        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
    }
}

.order_block_total {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.checkout_list {
    border-bottom: 1px solid var(--color-Gray);
}

@media (max-width: 570px) {
    .checkout_list {
        font-size: 12px;
        font-weight: 400;
    }
}

.order_list_item:first-child {
    margin-top: 22px;
}

.order_list_item:last-child {
    margin-bottom: 12px;
}

@media (max-width: 570px) {
    .order_list_item:last-child {
        margin-bottom: 21px;
    }
}

.order_list_item:not(:last-child) {
    margin-bottom: 26px;
}

@media (max-width: 570px) {
    .order_list_item:not(:last-child) {
        margin-bottom: 44px;
    }
}

.order_item_container {
    display: flex;
    justify-content: space-between;
}

.order_item_container h5 {
    color: var(--color-Dark-gray);
}

@media (max-width: 570px) {
    .order_item_container h5 {
        font-size: 12px;
        line-height: 167%;
    }
}

/* Order Payment Block */
.checkout_options_form {
    display: flex;
    flex-direction: column;
}

.checkout_payment_option {
    /* margin-bottom: 18px; */
    text-align: left;
    position: relative;
}

.checkout_payment_option_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    margin-left: 26px;
}

@media (max-width: 570px) {
    .checkout_payment_option_text {
        font-size: 12px;
        line-height: 167%;
  }
}

.checkout_paypal_container {
    position: relative;
}

.checkout_paypal::before {
    background-color: var(--color-Black);
    content: '';
    width: 13px;
    height: 16px;
    top: 4px;
    right: -21px;
    position: absolute;
    -webkit-mask: url(../../public/img/icons/paypal.svg) no-repeat 50% 50%;
    mask: url(../../public/img/icons/paypal.svg) no-repeat 50% 50%;
}

@media (max-width: 570px) {
    .checkout_paypal::before {
        top: 1px;
  }
}

.checkout_payment_option_additional_info {
    line-height: 167%;
    color: var(--color-Dark-gray);
    margin-top: 19px;
    margin-bottom: 2px;
}

.checkout_submit_btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px 59px 0 59px;
}

@media (max-width: 570px) {
    .checkout_submit_btn_wrapper {
        margin-top: 27px 0 0 0;
  }
}

.checkout_submit_btn {
    width: 100%;
    height: 53px;
}

@media (max-width: 570px) {
    .checkout_submit_btn {
        height: 32px;
  }
}

@media (max-width: 570px) {
    .order_place_input {
        font-size: 12px;
        font-weight: 400;
  }
}

.checkout_payment_options_input:checked,
.checkout_payment_options_input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkout_payment_options_input:checked+label:before,
.checkout_payment_options_input:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-Black);
  border-radius: 100%;
  /* background-color: transparent; */
}


.checkout_payment_options_input:checked+label:after,
.checkout_payment_options_input:not(:checked)+label:after {
  content: '';
  width: 6px;
  height: 6px;
  background: var(--color-Black);
  position: absolute;
  top: 11px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.checkout_payment_options_input:checked+label:before {
  background-color: transparent;
  opacity: 1;
  border-color: var(--color-Black);
}

.checkout_payment_options_input:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.checkout_payment_options_input:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 570px) {
    .checkout_payment_options_input:checked+label:before,
    .checkout_payment_options_input:not(:checked)+label:before {
        top: 3px;
  }

    .checkout_payment_options_input:checked+label:after,
    .checkout_payment_options_input:not(:checked)+label:after {
        top: 8px;
  }
}
