
.sidebar_shop_container {
    display: flex;
    margin-top: 96px;
    flex-direction: column;
}

@media (max-width: 800px) {
    .sidebar_shop_container {
        margin-top: 24px;
  }
}

.sidebar_shop_content {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.sidebar_shop_cards_list {
    display: grid;
    width: 948px;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 24px;
    row-gap: 70px;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 1300px) {
    .sidebar_shop_cards_list {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        width: 100%;
        row-gap: 70px;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        justify-items: center;
  }

    .sidebar_shop_content,
    .sidebar_shop_right {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .sidebar_shop_cards_list {
        row-gap: 30px;
        column-gap: 10px;
  }
}

  @media (max-width: 780px) {
    .sidebar_shop_cards_list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
  }
}

.page_pagination_container {
    overflow-x: auto;
    margin-top: 96px;
    display: flex;
    justify-content: end;
}

@media (max-width: 1220px) {
    .page_pagination_container {
        justify-content: start;
  }
}

@media (max-width: 610px) {
    .page_pagination_container {
        margin-top: 24px;
  }
}

.sidebar_container {
    width: 262px;
}

@media (max-width: 1300px) {
    .sidebar_container {
        display: none;
  }
}
