.list_item_container {
    position: relative;
}

.list_item {
    position: relative;
    width: 300px;
    height: 392px;
    border-radius: 8px;
}

@media (max-width: 1300px) {
    .list_item {
        width: 260px;
        height: 329px;
    }
}

@media (max-width: 1160px) {
    .list_item {
        width: 200px;
        height: 269px;
    }
}

@media (max-width: 910px) {
    .list_item {
        width: 170px;
        height: 224px;
    }
}

@media (max-width: 780px) {
    .list_item {
        width: 300px;
        height: 370px;
    }
}

@media (max-width: 680px) {
    .list_item {
        width: 260px;
        height: 320px;
    }
}

@media (max-width: 600px) {
    .list_item {
        width: 200px;
        height: 270px;
    }
}

@media (max-width: 480px) {
    .list_item {
        width: 170px;
        height: 220px;
    }
}

@media (max-width: 420px) {
    .list_item {
        width: 136px;
        height: 174px;
    }
}

/* Card label styles */
.label_container {
    position: absolute;
    top: 16px;
    left: 16px;
    height: auto;
    min-width: 130px;
    z-index: 2;
}

@media (max-width: 1160px) {
    .label_container {
        top: 4px;
        left: 4px;
    }
}

.list_item_label {
    font-size: 12px;
    height: 24px;
    background-color: var(--color-Accent);
    color: var(--color-White);
    padding: 2px 8px;
    border-radius: 4px;
}

.list_item_label:not(:last-child) {
    margin-right: 8px;
}

/* Card top */
.card_top_container {
    width: 100%;
    height: 300px;
    background-color: var(--color-Light-gray);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 300px;
}

@media (max-width: 1300px) {
    .card_top_container {
        height: 260px;
    }
}

@media (max-width: 1160px) {
    .card_top_container {
        height: 200px;
    }
}

@media (max-width: 910px) {
    .card_top_container {
        height: 170px;
    }
}

@media (max-width: 780px) {
    .card_top_container {
        height: 300px;
    }
}

@media (max-width: 680px) {
    .card_top_container {
        height: 260px;
    }
}

@media (max-width: 600px) {
    .card_top_container {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .card_top_container {
        height: 170px;
    }
}

@media (max-width: 420px) {
    .card_top_container  {
        height: 136px;
    }
}

.card_top_container {
    padding: 30px;
}

@media (max-width: 1300px) {
    .card_top_container {
        padding: 20px;
    }
}

@media (max-width: 910px) {
    .card_top_container {
        padding: 15px;
    }
}

@media (max-width: 640px) {
    .card_top_container {
        padding: 10px;
    }
}

/* Card bottom */

.card_bottom_container
{
    height: 20%;
    border-radius: 0 0 8px 8px;
    /* position: relative; */
}

.card_bottom_container h3 {
    padding-top: 4%;
    color: var(--color-Black);
}

@media (max-width: 910px) {
    .card_bottom_container h3 {
        font-size: 12px !important;
    }
}

@media (max-width: 730px) {
    .card_bottom_container h3 {
        padding-top: 6px !important;
        padding-bottom: 4px !important;
        line-height: 1.2;
    }
}

.card_bottom_container h4 {
    position: absolute;
    bottom: 0;
    color: var(--color-Accent);
} 

@media (max-width: 910px) {
    .card_bottom_container h4 {
        font-size: 12px !important;
        line-height: 1.2;
    }
}

@media (max-width: 780px) {
    .card_bottom_container h3,
    .card_bottom_container h4 {
        font-size: 16px !important;
        line-height: 1.2;
    }
}

@media (max-width: 600px) {
    .card_bottom_container h3,
    .card_bottom_container h4 {
        font-size: 14px !important;
        line-height: 1.2;
    }
}

@media (max-width: 480px) {
    .card_bottom_container h3,
    .card_bottom_container h4 {
        font-size: 12px !important;
        line-height: 1.2;
    }
}

/* Card Actions */
.list_item:hover .card_actions_container,
.list_item:hover .card_to_cart_btn_container {
    opacity: 1;
  }
  
  .card_actions_container {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    top:0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

.card_actions {
    width: 172px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* To cart card Btn */

.card_to_cart_btn_container {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    bottom: 92px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 0 0 8px 8px;
    z-index: 2;
}

.card_to_cart_btn_container_small,
.card_to_cart_btn_container_added {
    position: absolute;
    bottom: 92px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 0 0 8px 8px;
    z-index: 2;
}

@media (max-width: 1300px) {
    .card_to_cart_btn_container,
    .card_to_cart_btn_container_added {
        bottom: 68px;
    }
}

@media (max-width: 1160px) {
    .card_to_cart_btn_container_small,
    .card_to_cart_btn_container_added {
        bottom: 68px;
        height: 45px;
    }
}

@media (max-width: 910px) {
    .card_to_cart_btn_container_small,
    .card_to_cart_btn_container_added {
        bottom: 53px;
    }
}

@media (max-width: 780px) {
    .card_to_cart_btn_container_small,
    .card_to_cart_btn_container_added {
        bottom: 69px;
        height: 65px;

    }
}

@media (max-width: 680px) {
    .card_to_cart_btn_container_small,
    .card_to_cart_btn_container_added {
        bottom: 59px;
        height: 50px;
    }
}

@media (max-width: 600px) {
    .card_to_cart_btn_container_small,
    .card_to_cart_btn_container_added {
        bottom: 69px;
        height: 45px;

    }
}

@media (max-width: 480px) {
    .card_to_cart_btn_container_small,
    .card_to_cart_btn_container_added {
        bottom: 49px;
    }
}

@media (max-width: 420px) {
    .card_to_cart_btn_container_small,
    .card_to_cart_btn_container_added {
        bottom: 36px;
    }
}

.card_cart_btn {
    text-transform: uppercase;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    color: var(--color-Black);
}

.card_cart_btn:hover {
    color: var(--color-Accent);
}

.card_cart_btn:disabled {
    opacity: 0.5;
  }

@media (max-width: 910px) {
    .card_cart_btn {
        font-size: 14px !important;
    }
}

@media (max-width: 640px) {
    .card_cart_btn {
        font-size: 12px !important;
    }
}

.list_item_display_none {
    display: none;
}

.card_price_discount {
    margin-right: 12px;
  }

@media (max-width: 640px) {
    .card_price_discount {
        margin-right: 8px;
}
}